html {
    font-size: 8px; 
  }

  body, html {
    min-width: 400px;
    height: 100%;
    margin: 0;
    background: url('./assets/bg.jpg') no-repeat center center fixed;
    background-size: cover;
  }

  * {
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
  }
  